@tailwind base;
@tailwind components;
@tailwind utilities;

/* body::-webkit-scrollbar {
  width: 12px;
} */

/* body::-webkit-scrollbar-track {
  background: #18120b;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ffaa00;
} */
